a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 900;
}

/*
*,
*:before,
*:after {
  box-sizing: border-box;
} */

.header {
  padding: 30px 0;
}

.wrapper {
  width: 91%;
}

.menu {
  width: 61%;
  margin-left: 12%;
  display: flex;
  align-items: center;
  padding-left: 33%;
  padding-top: 43px;
}

.menu__item {
  font-size: 15px;
  line-height: 16px;
  color: #fff;
  padding-right: 60px;
}

.menu__item:last-child {
  padding-left: 10px;
}

.intro {
  /*height: 100vh;*/
  background: url(img/background.png) center no-repeat;
  background-size: cover;
  padding-bottom: 29%;
}

.intro__title {
  color: #E1E6E9;
  font-size: 38px;
  line-height: 23px;
  text-align: end;
  padding-top: 88px;
  letter-spacing: 1px;
}

.intro__subtitle {
  text-align: end;
  font-size: 17px;
  line-height: 23px;
  color: #E1E6E9;
  width: 100%;
  align-items: end;
  padding-bottom: 21px;
  width: 22%;
  margin-left: 78%;
}

.intro__button {
  width: 203px;
  height: 55px;
  background: #E0036F;
  font-size: 19px;
  line-height: 54px;
  color: #fff;
  text-align: center;
  margin-left: 84.7%;
  display: inline-block;
}

.section {
  padding: 26px 0 32px 0;
  background-color: #E3EAFE;
}

.section__header {
  margin-bottom: 23px;
  width: 100%;
  text-align: center;
}

.section__text {
  color: #585858;
  font-weight: 550;
  font-size: 29px;
  line-height: 35px;
  margin-left: 30%;
  margin-right: 21%;
  margin-bottom: 41px;
}

.section__other-coast {
  color: #263B83;
  font-size: 29px;
  line-height: 32px;
  margin-left: 9%;
  font-weight: 780;
  margin-bottom: 3%;
}

.section__other-button-buy-yellow {
  width: 203px;
  height: 55px;
  background: #FFDA45;
  font-size: 19px;
  line-height: 50px;
  color: #000;
  text-align: center;
  display: inline-block;
  margin-left: 10%;
  margin-bottom: 16px;
}

.section__other-button-book {
  font-size: 18px;
  line-height: 16px;
  color: #585858;
  margin-left: 10%;
}

.section__other-button-book:after {
  display: block;
  content: '';
  height: 3px;
  width: 12%;
  background: #FFDA45;
  margin-left: 49%;
  margin-top: 10px;
}

.section-2nd {
  background-color: #405DBB;
  height: 327px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

.section-2nd__container-1st {
  width: 56%;
}

.section-2nd__container-1st-for {
  font-size: 25px;
  line-height: 43px;
  width: 59%;
  margin: 0 0 0 0;
  padding-top: 19%;
  padding-left: 22%;
}

.section-2nd__container-1st-text {
  font-size: 18px;
  line-height: 23px;
  width: 76%;
  padding-left: 129px;
  margin-top: 15px;
}

.section-2nd__container-2nd {
  padding-right: 43px;
}

.section-2nd__container-3rd-button {
  width: 200px;
  height: 53px;
  background: #FFDA45;
  font-size: 19px;
  line-height: 53px;
  color: #000;
  text-align: center;
  display: inline-block;
  margin-top: 68.5%;
}

.section-3rd {
  background-color: #E3EAFE;
  margin: 0;
}

.section-3rd__header {
  padding-top: 6.8%;
}
.section-3rd__header-text {
  margin-top: 0;
  font-size: 30px;
  font-weight: 780;
  color: #585858;
  line-height: 35px;
  margin-left: 36%;
  margin-bottom: 6%;
  width: 39%;
  text-align: center;
}

.secion-3rd__images {
  padding-left: 10%;
  margin: 0;
}

.secion-3rd__images-container {
  margin: 0;
}
.secion-3rd__images-all {
  margin-right: 16px;
  margin-bottom: 65px;
}

.secion-3rd__images-end {
  margin-right: 0;
  margin-bottom: 65px;
}

.footer {
  background-color: #0E1E71;
}

.footer__content {
  justify-content: space-between;
  display:flex;
}
